body{
    font-size: 18px;
}

.title{
    font-weight: 400;
    font-size: 32px;
    text-align: center;

}

.header{
    min-height: 60px;

    background-color: #c8ffaf;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        font-size: 30px;
        text-align: center;


        /*line-height: 60px;*/
    }
}
.content{

    flex-grow: 1;
    flex-shrink: 0;
}

.navbar{

}
footer{
    font-size: 0.8em;
    background-color: #c8ffaf;
    min-height: 60px;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.App{
    background-color: #fff2a1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}

.nav_list{
    display: flex;
    gap: 12px;
    margin: 15px 0;
    flex-wrap: wrap;
}


.btn{
    color: black;
    background-color: #ffd663;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 15px;
    margin-right: 10px;
}

